@import 'base';

footer {
    position: relative;
}

.c-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $color_5;
    border-bottom: 2px solid $color_5;
    padding-left: $padding;
    padding-right: $padding;
    height: 230px;
    
    &__terms-conditions {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;

        & a {
            margin-bottom: 20px;
            text-decoration: none;
            color: black;

            &:hover {
                color: $color_5;
            }
        }
    }

    &__cookie-policy {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;

        & a {
            margin-bottom: 20px;
            text-decoration: none;
            color: black;
            
            &:hover {
                color: $color_5;
            } 
        }
    }

    &__address {
        margin-top: 40px;
        margin-bottom: 40px;

        & p {
            margin-bottom: 20px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        
        & a {
            margin-bottom: 20px;
            text-decoration: none;
            color: black;
            
            &:hover {
                color: $color_5;
            }
        }
    }

}

footer .c-banner {
    height: 50px;
    background-color: $color_banner;
    text-align: center;
    border: none;
    display: flex;
    box-sizing: border-box;

    & p {
        margin: auto;
        padding: 0px;
        color: $color_5;
        padding-top: 10px;
        padding-bottom: 0px;
    }

}

