.user-cart {
    position: fixed;
    display: none;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 30%;
    background-color: rgb(214, 209, 209);
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
}

.user-cart::-webkit-scrollbar {
    display: none;
}

.user-cart .cart-header {
    padding-top: 30px;
    color: var(--color_5);
    margin-bottom: 5px;
}

.user-cart .cart-header .name {
    font-weight: 700;
    font-size: 30px;
}

.user-cart .cart-header .email {
    font-size: 20px;
    font-style: italic;
}

.user-cart .product-list .product{
    display: flex;
    margin-bottom: 30px;
}

.user-cart .product-list .product .thumbnail {
    height: 250px;
    width: 190px;
}

.user-cart .product-list .product .infor {
    margin-left: 20px;
}

.user-cart .product-list .product .infor .name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 100%;
}

.user-cart .product-list .product .infor .price {
    display: flex;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.user-cart .product-list .product .infor .buy-button {
    border: none;
    height: 40px;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    margin-right: 20px;
    color: white;
    background-color: var(--color_5);
}

.close-button {
    position: absolute;
    top: 35px;
    right: 20px;
    border-radius: 9999px;
    width: 35px;
    height: 35px;
    border: none;
}

.close-button .close {
    margin: auto;
}