.banner {
    height: 30px;
    background-color: var(--color_banner);
    text-align: center;
    border: none;
}

.banner p {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color_5);
}

.navbar {
    height: 90px;
    display: flex;
    padding-left: var(--padding);
    padding-right: var(--padding);
    border-top: 2px solid var(--color_5);
    border-bottom: 2px solid var(--color_5);
}   

.navbar .logo-navigation {
    display: inline-flex;
}

.navbar .logo-navigation .logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;
    color: var(--color_5);
    text-decoration: none;
    margin-right: 40px;
}

.navbar .logo-navigation .navigation {
    display: flex;
}

.navigation a {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color:black;

}

.navigation a:hover {
    color: var(--color_5);
}

.navbar .user-nav .log{
    display: inline-flex;
    background-color: white;
    border: none;
    margin-right: 45px;
}

.navbar .user-nav .log .img{
    height: 25px;
    margin-right: 15px;
    background-color: white;
}

.navbar .user-nav .log .login{
    height: 30px;
}

.navbar .user-nav .cart{
    display: inline-flex;
    background-color: white;
    border: none;
}

.navbar .user-nav .cart .img{
    height: 30px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
}

